body{
    font-family: Arial, sans-serif;
    background:#f4f4f4;
    text-align:center;
    margin:0;
}


/* ===== HEADER ===== */

.header{
    position:relative;
    padding-top:40px;
}

.title{
    font-size:42px;
}

.subtitle{
    font-size:18px;
    color:#444;
    margin-bottom:30px;
}

@media (max-width:768px){
  .logo-watermark{
    width:140px;
  }
}
/* watermark logo */

.logo-watermark{
  position:fixed;          /* stays centered even while scrolling */
  top:50%;
  left:50%;

  transform:translate(-50%, -50%);

  width:220px;             /* adjust size if needed */
  opacity:0.06;            /* watermark effect */

  pointer-events:none;     /* prevents blocking clicks */
  z-index:-1;              /* stays behind text */
}


/* ===== TEAM SECTION ===== */

.team-section{
    margin-top:40px;
}


/* dropdown box */

.team-box{
    width:750px;
    max-width:90%;
    margin:20px auto;
    background:white;
    padding:18px;
    border-radius:14px;
    box-shadow:0 5px 18px rgba(0,0,0,0.15);
}


/* nested dropdown */

.team-box.inner{
    width:95%;
}


/* dropdown title */

summary{
    font-size:22px;
    font-weight:bold;
    cursor:pointer;
}


/* team images */

.team-img{
    width:100%;
    margin-top:20px;
    border-radius:12px;
}


/* ===== BACK BUTTON ===== */

.btn{
    display:inline-block;
    margin-top:40px;
    margin-bottom:50px;
    padding:12px 25px;
    background:#2b7cff;
    color:white;
    text-decoration:none;
    border-radius:8px;
    font-weight:bold;
    transition:0.3s;
}

.btn:hover{
    background:#1a5fd1;
    transform:translateY(-2px);
}
/* PDF button */

.pdf-btn{
    display:inline-block;
    margin-top:15px;
    padding:10px 20px;
    background:#2b7cff;
    color:white;
    text-decoration:none;
    border-radius:6px;
    font-weight:bold;
}

.pdf-btn:hover{
    background:#1a5fd1;
}