/* MAIN CONTAINER */

.ack-container{
max-width:900px;
margin:60px auto;
padding:0 30px;
}


/* TITLE */

.title{
text-align:center;
font-size:44px;
margin-bottom:30px;
}


/* WATERMARK */

.logo-watermark{
position:absolute;
right:8%;
top:220px;
width:160px;
opacity:0.08;
pointer-events:none;
}


/* TEXT */

.ack-text{
font-size:20px;
line-height:1.9;
text-align:justify;
color:#333;
}


/* PRESIDENT SECTION */

.president-section{
text-align:center;
margin-top:60px;
}


/* PHOTO */

.president-photo{
width:150px;
height:180px;
object-fit:cover;
border-radius:10px;
border:3px solid #333;
margin-bottom:10px;
}


/* SIGNATURE */

.signature{
font-style:italic;
margin-top:10px;
}


/* MOBILE */

@media(max-width:768px){

.title{
font-size:34px;
}

.ack-text{
font-size:16px;
}

.logo-watermark{
display:none;
}

}