{% extends "base.html" %}

{% block title %}About | WeR4Help{% endblock %}

{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
{% endblock %}

{% block content %}

<div class="header">

<h1 class="title">About WeR4Help</h1>

<img src="{{ url_for('static', filename='images/WRFH LOGO.png') }}" class="logo-watermark">

</div>

<p class="subtitle">

WeR4Help is a social service club functioning under CFSR at GVPCE(A) with the aim of supporting underprivileged families and spreading kindness in the society. The club was started in 2011 by three volunteers from the EEE branch with a simple intention to help people who silently struggle for their daily survival.

Unlike many service activities that focus mainly on orphanages or old-age homes, WeR4Help follows a unique approach. Every year the club conducts surveys in underprivileged areas to identify families who hesitate to ask others for help. These families are then adopted by the club and provided with monthly groceries and medical support.

The club is self-funded and conducts eco-friendly Ganesha idol sales during Vinayaka Chavithi. The funds collected help support adopted families and carry out all club initiatives.

WeR4Help continues its journey guided by the motto:

<b>"No one can help everyone, but everyone can help someone."</b>

</p>

<!-- Mentor Section -->

<div class="photo-section">

<div class="photo-card">

<img src="{{ url_for('static', filename='images/principal.png') }}">

<p class="photo-name">Dr. A. B. Koteswara Rao</p>
<p class="photo-role">Principal and Director of CFSR- GVPCE</p>

</div>

<div class="photo-card">

<img src="{{ url_for('static', filename='images/cvnr.jpeg') }}">

<p class="photo-name">Dr. C. V. Nageswara Rao</p>
<p class="photo-role">Associate Director - CFSR</p>

</div>

<div class="photo-card">

<img src="{{ url_for('static', filename='images/lateefa madam.jpeg') }}">

<p class="photo-name">Ms. Lateefa Shaik</p>
<p class="photo-role">Faculty Coordinator</p>

</div>

</div>

<a href="{{ url_for('home') }}" class="btn">Back to Home</a>

{% endblock %}
