{% extends "base.html" %}

{% block title %}Acknowledgment | WeR4Help{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/acknowledgment.css') }}">
{% endblock %}

{% block content %}

<div class="header">

<h1 class="title">Acknowledgment</h1>

<img src="{{ url_for('static', filename='images/WRFH LOGO.png') }}" class="logo-watermark">

</div>


<div class="content-container">

<div class="ack-text">

<p>

A hearty welcome to the WeR4Help Club Website.<br><br>

Looking back, our club laid its foundation in 2011. Since then, every tenure has marked a new chapter of learning, leadership, and commitment to social service. Each team has contributed to strengthening the club while passing the torch forward with the same dedication, energy, and sense of responsibility.

<br><br>As we all know, WeR4Help is a self owned student club. It is a matter of great pride that our club has been formed by students, run by students, and led by students of GVPCE from 2011 to the present day. This legacy is not just something we remember it is something we continue to uphold and build upon.

<br><br>During my tenure, I strongly believed that leadership should go beyond merely repeating the initiatives of previous years. My focus was on introducing meaningful initiatives that could create a long term impact for future generations of the club. From this vision emerged the idea that every tenure, event, and team contribution should be digitally documented and accessible So that anyone connected to WeR4Help can easily explore our journey and accomplishments.

<br><br>This vision led to the development of the WeR4Help Club Website a platform where the history, initiatives, and contributions of each tenure can be preserved and accessed by everyone. In addition to this, during my tenure we also worked towards obtaining an institutional domain email ID for the club and launched Aashraya Connect, a structured survey initiative aimed at creating organized records and long term data for our social service activities. These efforts were made possible through the dedicated work of the Core and Governing Team of 2025–2026.

<br><br>Together with T. Sai Shashank and P.Keerthana we collected the necessary information and developed this website with the vision that the initiatives of our club should be digitally accessible to everyone, from anywhere.

<br><br>We extend our sincere gratitude to Dr. A. B. Koteswara Rao, Principal and Director of CFSR, and Dr. C. V. Nageswara Rao, Associate Director of CFSR, for their constant encouragement and unwavering support.

<br><br>We also express our heartfelt thanks to our Faculty Coordinator, Ms. Lateefa Shaik, for her valuable guidance and continuous support in all our initiatives.

<br><br>A special appreciation goes to T. Sai Shashank-Club Advisor and P. Keerthana-Promotions Lead for his dedication and efforts in helping bring this website from concept to completion.

<br><br>With great pride, we officially launch the WeR4Help Club Website on 14 March 2026, marking another milestone in the journey of our club.

</p>
</div>


<div class="president-section">

<div class="president-sign">

<p class="signature">Yours sincerely,</p>

<img src="{{ url_for('static', filename='images/anush.jpeg') }}" class="president-photo">

<h2>M. Anush</h2>

<p class="designation">
Student President<br>
WeR4Help 2025-26
</p>

</div>

</div>

</div>

{% endblock %}