{% extends "base.html" %}

{% block title %}Acknowledgment | WeR4Help{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/acknowledgment.css') }}">
{% endblock %}

{% block content %}

<div class="header">

<h1 class="title">Acknowledgment</h1>

<img src="{{ url_for('static', filename='images/WRFH LOGO.png') }}" class="logo-watermark">

</div>


<div class="content-container">

<div class="ack-text">

<p>A hearty welcome to the WeR4Help Club Website.</p>

<p>
Looking back, our club laid its foundation in 2011. Since then, every tenure has marked a new chapter of learning, leadership, and commitment to social service.
</p>

<p>
As we all know, WeR4Help is a self-owned student club.
</p>

<p>
During my tenure, I strongly believed that leadership should go beyond merely repeating the initiatives of previous years.
</p>

<p>
This vision led to the development of the WeR4Help Club Website.
</p>

<p>
Together with T. Sai Shashank and P. Keerthana, we collected the necessary information and developed this website.
</p>

<p>
We extend our sincere gratitude to Dr. A. B. Koteswara Rao and Dr. C. V. Nageswara Rao.
</p>

<p>
We also express our heartfelt thanks to our Faculty Coordinator, Ms. Lateefa Shaik.
</p>

<p>
With great pride, we officially launch the WeR4Help Club Website on 14 March 2026.
</p>

</div>


<div class="president-section">

<div class="president-sign">

<p class="signature">Yours sincerely,</p>

<img src="{{ url_for('static', filename='images/anush.jpeg') }}" class="president-photo">

<h2>M. Anush</h2>

<p class="designation">
Student President<br>
WeR4Help 2025-26
</p>

</div>

</div>

</div>

{% endblock %}