{% extends "base.html" %}

{% block title %}Acknowledgment | WeR4Help{% endblock %}

{% block css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/acknowledgment.css') }}">
{% endblock %}

{% block content %}

<div class="header">

<h1 class="title">Acknowledgment</h1>

<img src="{{ url_for('static', filename='images/WRFH LOGO.png') }}" class="logo-watermark">

</div>


<div class="ack-text">

<p>A hearty welcome to the WeR4Help Club Website.</p>

<p>
Looking back, our club laid its foundation in 2011. Since then, every tenure has marked a new chapter of learning, leadership, and commitment to social service. Each team has contributed to strengthening the club while passing the torch forward with the same dedication, energy, and sense of responsibility.
</p>

<p>
As we all know, WeR4Help is a self-owned student club. It is a matter of great pride that our club has been formed by students, run by students, and led by students of GVPCE from 2011 to the present day. This legacy is not just something we remember it is something we continue to uphold and build upon.
</p>

<p>
During my tenure, I strongly believed that leadership should go beyond merely repeating the initiatives of previous years. My focus was on introducing meaningful initiatives that could create a long-term impact for future generations of the club.
</p>

<p>
This vision led to the development of the WeR4Help Club Website.
</p>

<p>
With great pride, we officially launch the WeR4Help Club Website on 14 March 2026, marking another milestone in the journey of our club.
</p>


<!-- PRESIDENT SIGNATURE -->

<div class="president-section">

<div class="president-sign">

<img src="{{ url_for('static', filename='images/anush.jpeg') }}" class="president-photo">

<p class="signature">Yours sincerely,</p>

<h2>M. Anush</h2>

<p class="designation">
Student President<br>
WeR4Help 2025-26
</p>

</div>

</div>

</div>

{% endblock %}