{% extends "base.html" %}

{% block title %}Donate | WeR4Help{% endblock %}

{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/donate.css') }}">
{% endblock %}

{% block content %}

<h1 class="title">Support WeR4Help</h1>

<p class="donate-text">
Your support helps us conduct social initiatives and community service activities.
</p>

<p class="donate-text">
You can support our initiatives by donating through UPI.
</p>

<h3 class="qr-title">Scan the QR Code</h3>

<div class="qr-container">
<img src="{{ url_for('static', filename='images/qr.png') }}" class="qr-image">
</div>

<p class="upi-text">
UPI ID: wer4help@gvpce
</p>


{% endblock %}
