<!DOCTYPE html>
<html lang="en">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>Events - WeR4Help</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/events.css') }}">

</head>

<body>

<div class="header">

<h1 class="title">Events</h1>

<img src="{{ url_for('static', filename='images/WRFH LOGO.png') }}" class="logo-watermark">

</div>

<p class="subtitle">
Explore the social initiatives conducted by WeR4Help.
</p>

<div class="events-section">

<!-- Events 2025 -->

<details class="event-box">

<summary>Events 2025</summary>

<details class="event-box inner">

<a href="{{ url_for('static', filename='reports/blood_donation_2025.pdf') }}"
View Activity Report
</a>

</details>

<details class="event-box inner">

<summary>Tree Plantation Drive</summary>

<a href="{{ url_for('static', filename='reports/tree_plantation_2025.pdf') }}" 
target="_blank" class="pdf-btn">
View Activity Report
</a>

</details>

</details>


<!-- Events 2024 -->

<details class="event-box">

<summary>Events 2024</summary>

<details class="event-box inner">

<summary>Orphanage Visit</summary>

<a href="{{ url_for('static', filename='reports/orphanage_visit_2024.pdf') }}" 
target="_blank" class="pdf-btn">
View Activity Report
</a>

</details>

<details class="event-box inner">

<summary>Food Distribution</summary>

<a href="{{ url_for('static', filename='reports/food_distribution_2024.pdf') }}" 
target="_blank" class="pdf-btn">
View Activity Report
</a>

</details>

</details>

</div>

<a href="{{ url_for('home') }}" class="btn">Back to Home</a>

</body>

</html>