{% extends "base.html" %}

{% block title %}Events | WeR4Help{% endblock %}

{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/events.css') }}">
{% endblock %}

{% block content %}

<div class="header">

<h1 class="title">Our Events</h1>

<img src="{{ url_for('static', filename='images/WRFH LOGO.png') }}" class="logo-watermark">

</div>

<p class="subtitle">
Explore the social initiatives conducted by WeR4Help.
</p>

<div class="events-section">

<!-- Tenure 2025-26 -->

<details class="event-box">

<summary>Tenure 2025 – 26</summary>

<a href="https://drive.google.com/file/d/1KUwtxXebVc9kx95uyHCMUWB1P5BZUtus/preview"
target="_blank" class="pdf-btn">
View Activity Report </a>

</details>

<!-- Tenure 2024-25 -->

<details class="event-box">

<summary>Tenure 2024 – 25</summary>

<a href="https://drive.google.com/file/d/1zZO2seHQxu7xw9I3UyEm-mIawBgJ6Dkc/preview"
target="_blank" class="pdf-btn">
View Activity Report </a>

</details>

<!-- Tenure 2023-24 -->

<details class="event-box">

<summary>Tenure 2023 – 24</summary>

<a href="https://drive.google.com/file/d/1vBmHtInG_Hq4haZiQ2HhP0eXbws5EeOn/preview"
target="_blank" class="pdf-btn">
View Activity Report </a>

</details>

</div>


{% endblock %}
