{% extends "base.html" %}

{% block title %}Leadership Legacy | WeR4Help{% endblock %}

{% block css %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/leadership.css') }}">
{% endblock %}

{% block content %}

<img src="{{ url_for('static', filename='images/WRFH LOGO.png') }}" class="logo-watermark">

<h1 class="title">Leadership Legacy</h1>

<p class="subtitle">
This section highlights the leadership journey of our club through the dedicated Presidents and Secretaries who have guided it over the years. Each leadership team has contributed to strengthening our mission, organizing impactful initiatives, and building a strong community of service. Their commitment, vision, and teamwork have played a vital role in shaping the growth and legacy of our club. Honouring the leaders who have guided <b>WeR4Help</b>.
</p>

<div class="leadership-section">

<div class="leader-box">
<h3>2017 – 2018</h3>
<p><strong>President:</strong> K. Naveen</p>
<p><strong>Secretary:</strong> A. Sai Lakshmi</p>
</div>

<div class="leader-box">
<h3>2018 – 2019</h3>
<p><strong>President:</strong> K. Vamsi Durga Prasad</p>
<p><strong>Secretary:</strong> G. Bhavya</p>
</div>

<div class="leader-box">
<h3>2019 – 2020</h3>
<p><strong>President:</strong> G. Venkata Sai</p>
<p><strong>Secretary:</strong> S. Niteesha</p>
</div>

<div class="leader-box">
<h3>2020 – 2021</h3>
<p><strong>President:</strong> V. Sri Vidya</p>
<p><strong>Secretary:</strong> C. Sai Mano Aakash</p>
</div>

<div class="leader-box">
<h3>2021 – 2022</h3>
<p><strong>President:</strong> C. Sai Mano Aakash</p>
<p><strong>Secretary:</strong> Vyshali Tontepu</p>
</div>

<div class="leader-box">
<h3>2022 – 2023</h3>
<p><strong>President:</strong> Ch. Surya Vamsi Krishna</p>
<p><strong>Secretary:</strong> L. Sai Lalitha Haneesha</p>
</div>

<div class="leader-box">
<h3>2023 – 2024</h3>
<p><strong>President:</strong> K. Subhash</p>
<p><strong>Secretary:</strong> G. V. Sai Jayasri</p>
</div>

<div class="leader-box">
<h3>2024 – 2025</h3>
<p><strong>President:</strong> D. Sudhakar</p>
<p><strong>Secretary:</strong> B. Monika</p>
</div>

<div class="leader-box">
<h3>2025 – 2026</h3>
<p><strong>President:</strong> M. Anush</p>
<p><strong>Secretary:</strong> B. G. S. L Varshini</p>
</div>

</div>

<a href="{{ url_for('home') }}" class="btn back-btn">
Back to Home
</a>

{% endblock %}
