<!DOCTYPE html>
<html lang="en">

<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Orientation</title>

<link rel="stylesheet"
href="{{ url_for('static', filename='css/style.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/global.css') }}">
</head>

<body>

<h1>Orientation Program</h1>

<p>
The orientation program introduces new members to
WeR4Help activities and volunteering opportunities.
</p>

<a href="{{ url_for('home') }}">Back to Home</a>

</body>
</html>